@charset "utf-8";

/*----------------------------
 Button
 ----------------------------*/
.btn-sm {
  display: inline-block;
  background: $primary-color;
  color: #fff;
  font-size: 10px;
  line-height: 1;
  padding: 5px 6px;
  &:hover {
    background-color: #7c7c7c;
    color: #fff;
  }
}

.btn-primary {
  display: inline-block;
  background: #294197;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  @include border-radius(4px);
  text-align: center;
  span {
    display: inline-block;
    padding: 10px;
    background: transparent url(../img/common/arrow_circle.png) left center no-repeat;
    @include background-size(19px);
    padding: 16px 0 16px 28px;
  }
  &:hover {
    background-color: #5769ad;
  }
}