@charset "utf-8";


/*----------------------------
 Form contact
 ----------------------------*/
.section-contact {
  margin-top: 30px;
  h2 {
    font-style: italic;
    font-weight: 300;
    opacity: 0.7;
    font-size: 14px;
  }
  .info-contacts {
    margin-bottom: 15px;
    h3 {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 0.3rem;
    }
    p {
      color: #777;
      font-size: 14px;
    }
  }

}
.google-map {
  iframe {
    width: 100%;
    height: 400px;
  }
}

.my-form .btn-primary {
  border: 0;
  background: $primary-color;
}