@charset "utf-8";

.box-gray {
  background: #f2f3f7;
}
.main {
  padding-bottom: 50px;
}

.content-body,.content-right {
  margin-top: 20px;
}
@media screen and (min-width: 992px) {

  .content-body {
    float: left;
    width: 72.972%;
    padding-right: 15px;
  }

  .content-right {
    float: right;
    width: 27.028%;
  }
}