@charset "utf-8";

/*----------------------------
 Title
 ----------------------------*/
.page-title {
  display: block;
  position: relative;
  border-bottom: 2px solid #cdcdcd;
  color: $primary-color;
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
  margin-bottom: 10px;
  &:before {
    content: '';
    width: 200px;
    height: 2px;
    background: $primary-color;
    position: absolute;
    bottom: -2px;
    left: 0;
  }
}

.sttl {
  color: $second-color;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  border-left: 3px solid $second-color;
  padding-left: 6px;
  margin: 20px 0 15px;
}