
<div class="content-body">
  <article class="post-detail">
    <h1 class="page-title">Dịch vụ thành lập công ty cổ phần năm 2018 - Phí dịch vụ 200.000đ</h1>
    <div class="content-graph">
      <p class="img-featured"><img src="https://dummyimage.com/795x300/aaa/fff.jpg&text=Dummy+image" alt="Dịch vụ thành lập công ty cổ phần" /></p>
      <p>Lưu ý: Công ty cổ phần là công ty có vốn góp từ ít nhất 3 thành viên đủ tư cách pháp nhân trở lên. GIA ĐỊNH sẽ liệt kê tất cả chi phí dịch vụ thành lập công ty cổ phần ở bài viết này.</p>
      <div class="panel">
        <h2 class="sttl">Tổng phí dịch vụ thành lập công ty cổ phần 2018 là <span class="text-highlight">1.150.000đ</span> - Không phát sinh</h2>
        <div class="panel-body">
          <ul class="list-indent">
            <li>1. Những khoản phí nhà phải nộp nhà nước
              <ul>
                <li>- 200.000đ lệ phí nộp hồ sơ và cấp giấy phép kinh doanh ở sở Kế Hoạch Đầu Tư</li>
                <li>- 450.000đ lệ phí khắc dấu và công bố mẫu dấu công ty cổ phần</li>
                <li>- 300.000đ lệ phí công bố thành lập công ty cổ phần ở cổng thông tin quốc gia</li>
              </ul>
            </li>
            <li>2. Phí dịch vụ của Gia Định
              <ul>
                <li>- 200.000đ phí dịch vụ thành lập công ty cổ phần của Gia Định.</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="panel">
        <h2 class="sttl">Tổng thời gian hoàn thành việc thành lập công ty cổ phần - 4 ngày</h2>
        <div class="panel-body">
          <p><strong>Tổng thời gian thành lập doanh nghiệp mất 04 ngày. Trong đó:</strong></p>
          <ul class="list-indent">
            <li>+ 01 ngày để GIA ĐỊNH soạn hồ sơ, trình khách hàng ký hồ sơ, cử nhân viên nộp hồ sơ thành lập công ty cổ phần ở sở Kế Hoạch Đầu Tư</li>
            <li>+ 03 ngày để sở Kế Hoạch Đầu Tư kiểm tra hồ sơ và cấp giấy phép đăng ký kinh doanh công ty cổ phần</li>
          </ul>
        </div>
      </div>

      <div class="panel">
        <h2 class="sttl">Doanh nghiệp cần chuẩn bị</h2>
        <div class="panel-body">
          <p>Chuẩn bị chứng minh nhân dân hoặc passport công chứng (không quá 3 tháng) của tất cả các thành viên cổ đông.</p>
        </div>
      </div>

      <p class="text-center"><strong>HÃY GỌI NGAY CHO CHÚNG TÔI: <span class="text-highlight" style="text-decoration:underline">0987 654 321</span> (24/7)</strong></p>

      <div class="panel">
        <h2 class="sttl">Những việc cần làm và chi phí khác sau khi thành lập công ty cổ phần năm 2018</h2>
        <div class="panel-body">
          <ul class="list-indent">
            <li>1. Soạn và nộp hồ sơ thuế ban đầu lên cơ quan thuế – 500.000đ (phí dịch vụ của Gia Định), nếu khách hàng sử dụng dịch vụ kế toán của Gia Định sẽ được miễn phí 500.000đ này.</li>
            <li>2. Mở tài khoản ngân hàng (miễn phí), bắt buộc tất cả các doanh nghiệp phải mở tài khoản.</li>
            <li>3. Đóng thuế môn bài năm 2018 - 2.000.000đ (nộp tiền vào kho bạc nhà nước)</li>
            <li>4. Làm thủ tục đặt in và phát hành hóa đơn tài chính – Gia Định hỗ trợ miễn phí</li>
            <li>5. Mua thiết bị chữ ký số 1.350.000đ/12 tháng (khách hàng trả cho nhà mạng Viettel)</li>
            <li>6. Đặt bảng tên công ty 160.000đ (bảng 20 * 30 cm)</li>
          </ul>
          <p class="mt-2 font-italic" style="font-size: 90%;">Lưu ý quan trọng từ Kế Toán Gia Định: với kinh nghiệm nhiều năm của Gia Định và thực tế phải thường xuyên giải quyết nhiều rắc rối của các công ty khách hàng bị xử phạt do “QUÊN” 6 việc kể trên, chúng tôi nhấn mạnh rằng bạn “BẮT BUỘC” phải thực hiện 6 công việc này. Hãy yêu cầu kế toán hoặc công ty kế toán dịch vụ của bạn thực hiện nghiêm túc và đầy đủ các thủ tục pháp lý trên.</p>
        </div>
      </div>

      <div class="panel">
        <h2 class="sttl">Nhiệm vụ của chúng tôi</h2>
        <div class="panel-body">
          <ul class="list-indent">
            <li>1. Soạn thảo và tư vấn cho khách hàng mã ngành nghề phù hợp với hoạt động kinh doanh và các khoản thuế cần phải đóng lúc mới bắt đầu cũng như trong suốt quá trình hoạt động của 1 công ty cổ phần hoạt động tại Việt Nam.</li>
            <li>2. Soạn thảo và chuẩn bị tất cả hồ sơ, những giấy tờ, thủ tục theo yêu cầu của Sở Kế Hoạch Đầu Tư (KHĐT) và trình khách hàng ký (ký tại nhà hoặc trụ sở của công ty).
              <p class="font-italic text-indent">Lưu ý: với công ty cổ phần phải có đầy đủ chữ ký của người đại diện theo pháp luật, của các thành viên hoặc người đại diện theo ủy quyền của thành viên</p></li>
            <li>3. Đại diện doanh nghiệp nộp hồ sơ thành lập công ty cổ phần ở Sở KHĐT.</li>
            <li>4. Cử nhân viên đại diện doanh nghiệp nhận giấy phép kinh doanh ở Sở KHĐT.</li>
            <li>5. Bàn giao giấy phép kinh doanh bản chính cho khách hàng.</li>
            <li>6. Soạn hồ sơ và làm thủ tục đăng bố cáo thành lập doanh nghiệp trên báo giấy, báo điện tử theo quy định hiện hành.</li>
            <li>7. Đại diện khách hàng làm thủ tục khắc dấu tròn.</li>
            <li>8. Soạn hồ sơ thông báo mẫu dấu.</li>
            <li>9. Bàn giao con dấu cho khách hàng.</li>
          </ul>
        </div>
      </div>
    </div>
  </article>

  <div class="related-post">
    <h3>Bài viết liên quan</h3>
    <ul class="list-others">
      <li><i class="fa fa-angle-right"></i> <a href="#">Thành lập công ty TNHH 1 thành viên - 250.000đ (Không Phát Sinh)</a></li>
      <li><i class="fa fa-angle-right"></i> <a href="#">Hồ sơ, thủ tục thành lập công ty, doanh nghiệp 2018 - Cập Nhật Mới</a></li>
      <li><i class="fa fa-angle-right"></i> <a href="#">Các khoản thuế phải nộp sau khi thành lập công ty, doanh nghiệp</a></li>
      <li><i class="fa fa-angle-right"></i> <a href="#">Dịch Vụ Kế Toán (Báo Cáo Thuế) Trọn Gói - Chỉ Từ 500.000đ/tháng</a></li>
    </ul>
  </div>

  <div id="comment-form">
    <div id="respond" class="rounded">
      <p class="text-center">Hãy để lại câu hỏi của bạn. chúng tôi sẽ trả lời trong thời gian sớm nhất</p>
      <form action="#" method="post" id="commentform">
        <div id="comment-email" class="form-group row">
          <label for="email" class="col-md-2 col-form-label">Email:</label>
          <div class="col-md-10"><input type="text" name="email" class="form-control" id="email" placeholder="info@gmail.com" value="" size="22" tabindex="2" aria-required="true"></div>
        </div>
        <div id="comment-phone" class="form-group row">
          <label for="phone" class="col-md-2 col-form-label">Số điện thoại:</label>
          <div class="col-md-10"><input type="text" name="phone" class="form-control" id="phone" placeholder="0987654321" value="" size="22" tabindex="3"></div>
        </div>
        <div id="comment-message" class="form-group row">
          <label for="comment" class="col-md-2 col-form-label">Nội dung:</label>
          <div class="col-md-10"><textarea name="comment" class="form-control" id="comment" cols="40" rows="4" tabindex="4"></textarea></div>
        </div>
        <div class="text-right"><input name="submit" type="submit" id="commentSubmit" tabindex="5" value="Gửi ngay"></div>
        <input type="hidden" name="comment_post_ID" value="9299" id="comment_post_ID">
        <input type="hidden" name="comment_parent" id="comment_parent" value="0">
        <input type="hidden" id="ak_js" name="ak_js" value="1523085768645">
      </form>
    </div>
  </div>
</div>

