/*
Theme Name: Fastcoding WordPress Customize Vanilla Theme
Theme URI: 
Author: fastcoding.inc
Author URI: https://fastcoding.jp/
Description: This theme is most basicly theme for WordPress Development. All our future will start this "Vanilla".
Version: 3.1
License: Plate.inc
License URI: 
Tags: Vanila Basic
Text Domain: wpcvanilla

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/*
* Native styles for wisiwyg editor
*/
.the_content{
    overflow: hidden;
    zoom: 1;
}
.the_content:after{
    content: ""
    display: block;
    clear: both;
}

.the_content p{
    display: block;
    margin: 1em 0;
}

strong { font-weight: bold; }
em { font-style: italic; }
blockquote {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}

.aligncenter {
    display: block;
    margin: 0 auto;
}
.alignright { float: right; }
.alignleft { float: left; }

img[class*="wp-image-"],
img[class*="attachment-"] {
    max-width: 100%;
    height: auto;
}

.the_content a{
    text-decoration: underline;
}