@charset "utf-8";

.content-graph {
  p + p {
    margin-top: 1.4em;
  }
}

.post-detail hr {
  width: 100px;
  margin: 1.4em auto;
}

.about {
  .main-services {
    margin-bottom: 20px;
    dt {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 4px;
    }
    dd {
      padding-left: 20px;
    }
  }
  a {
    color: $primary-color;
    text-decoration: underline;
    font-style: italic;
    font-size: 90%;
    &:hover {
      text-decoration: none;
    }
  }
}