@charset "utf-8";

/*----------------------------
 Top Page
 ----------------------------*/
.main-service {
  margin-top: 15px;
  .thumb a {
    display: inline-block;
    width: 80px;
    height: 80px;
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    background: $primary-color;
    margin-bottom: 15px;
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    &:hover {
      background: rgba($primary-color, .9);
    }
  }
  .post-title {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    a {
      color: $primary-color;
      text-decoration: underline;
    }
    &:hover a {
      text-decoration: none;
    }
  }
  .excerpt {
    font-size: 16px;
  }
  .col-md-6 {
    margin-bottom: 20px;
  }
}

.other-service {
  .col-md-4 {
    margin-bottom: 30px;
  }
  a {
    display: block;
    position: relative;
    figure img {
      width: 100%;
    }
    figcaption {
      display: block;
      position: absolute;
      width: 100%;
      color: #fff;
      bottom: 0;
      left: 0;
      z-index: 9;
      background: rgba(0,0,0,.5);
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
      padding: 6px;
      text-decoration: none;
    }
    &:hover figcaption {
      background: #000;
    }
  }
}

.map {
  height: 365px;
  width: 100%;
}