/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after { content: ''; content: none; }

q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* Update css reset */
*, *:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

strong { font-weight: 600; }

img { display: inline-block; max-width: 100%; vertical-align: middle; }

body { background: #fff; font-size: 16px; line-height: 1.444444; font-family: "Roboto", sans-serif; font-weight: 400; -webkit-text-size-adjust: none; color: #333; }

a { color: #333; text-decoration: none; }

.trans { opacity: 1; -webkit-transition: opacity 0.3s ease; -ms-transition: opacity 0.3s ease; transition: opacity 0.3s ease; }
.trans:hover { opacity: .75; }

.hidden { display: none; }

.invisible { visibility: hidden; }

.list-inline > li { display: inline-block; }

.list-indent li { text-indent: -1em; padding-left: 1em; }

.text-indent { text-indent: 1em; }

.text-highlight { color: #dc0734 !important; }

.mb0 { margin-bottom: 0 !important; }

.mt0 { margin-top: 0 !important; }

/*---------------------------- Title ----------------------------*/
.page-title { display: block; position: relative; border-bottom: 2px solid #cdcdcd; color: #009933; font-size: 20px; font-weight: 500; padding: 5px; margin-bottom: 10px; }
.page-title:before { content: ''; width: 200px; height: 2px; background: #009933; position: absolute; bottom: -2px; left: 0; }

.sttl { color: #3399ff; font-size: 18px; font-weight: 500; line-height: 1.2; border-left: 3px solid #3399ff; padding-left: 6px; margin: 20px 0 15px; }

/*---------------------------- Button ----------------------------*/
.btn-sm { display: inline-block; background: #009933; color: #fff; font-size: 10px; line-height: 1; padding: 5px 6px; }
.btn-sm:hover { background-color: #7c7c7c; color: #fff; }

.btn-primary { display: inline-block; background: #294197; color: #fff; font-size: 15px; font-weight: bold; line-height: 1; -webkit-border-radius: 4px; border-radius: 4px; text-align: center; }
.btn-primary span { display: inline-block; padding: 10px; background: transparent url(../img/common/arrow_circle.png) left center no-repeat; -webkit-background-size: 19px 19px; background-size: 19px 19px; padding: 16px 0 16px 28px; }
.btn-primary:hover { background-color: #5769ad; }

.box-gray { background: #f2f3f7; }

.main { padding-bottom: 50px; }

.content-body, .content-right { margin-top: 20px; }

@media screen and (min-width: 992px) { .content-body { float: left; width: 72.972%; padding-right: 15px; }
  .content-right { float: right; width: 27.028%; } }
/*---------------------------- Form contact ----------------------------*/
.section-contact { margin-top: 30px; }
.section-contact h2 { font-style: italic; font-weight: 300; opacity: 0.7; font-size: 14px; }
.section-contact .info-contacts { margin-bottom: 15px; }
.section-contact .info-contacts h3 { font-size: 18px; text-transform: uppercase; font-weight: 500; margin-bottom: 0.3rem; }
.section-contact .info-contacts p { color: #777; font-size: 14px; }

.google-map iframe { width: 100%; height: 400px; }

.my-form .btn-primary { border: 0; background: #009933; }

#comment-form { padding: 15px; background: #f7f7f7; }

#commentform { margin-top: 15px; }

#commentSubmit { display: inline-block; background: #009933; color: #fff; font-size: 16px; text-transform: uppercase; padding: 5px 15px; cursor: pointer; border: 0; }

.panel { margin-bottom: 30px; }
.panel .panel-body { border: 1px solid #ccc; padding: 10px 15px; line-height: 1.6; }

.related-post { border: 1px solid #dbdbdb; margin-bottom: 30px; }
.related-post h3 { font-size: 16px; font-weight: 500; background: #dbdbdb; padding: 8px 10px; }
.related-post .list-others { padding: 15px 10px; }
.related-post .list-others a { display: inline-block; text-decoration: underline; color: inherit; }
.related-post .list-others a:hover { text-decoration: none; }
.related-post .list-others li { color: #009933; margin-bottom: 8px; }
.related-post .list-others li:last-child { margin-bottom: 0; }

.table tbody th { background: #efefef; text-align: center; }

.table th, .table td { border: 1px solid #333; padding: 5px 10px; }

.table thead th { border-bottom: 1px solid #333; }

.table-caption { text-align: center; padding: 6px 10px; background-color: #39f; color: #fff; line-height: 1.4; }

/*---------------------------- Navigation ----------------------------*/
.navbar-collapse { background: #009933; }
.navbar-collapse .navbar-nav { justify-content: center; }

.navbar-toggler { display: none; }

.navbar-nav li { line-height: 1; padding: 0 16px; position: relative; }
.navbar-nav li + li:before { position: absolute; height: 1em; width: 1px; background: #fff; left: 0; top: 16px; }
.navbar-nav li a { display: block; color: #fff; font-size: 16px; padding: 15px 0; font-weight: 500; line-height: inherit; text-transform: uppercase; position: relative; text-decoration: none !important; }
.navbar-nav li.active-item, .navbar-nav li:hover { background: rgba(255, 255, 255, 0.2); }
.navbar-nav li:hover .sub-menu { opacity: 1; top: 100%; left: 0; }
.navbar-nav li .sub-menu { position: absolute; top: 110%; left: -9999px; margin-right: 15px; opacity: 0; min-width: 200px; z-index: 999; background: #fff; box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); transition: top 0.2s ease; }
.navbar-nav li .sub-menu li { padding: 0; }
.navbar-nav li .sub-menu li a { color: #333; padding: 10px; border-bottom: 1px solid rgba(0, 0, 0, 0.3); font-size: 14px; font-weight: 400; }
.navbar-nav li .sub-menu li:hover a { color: #009933; }

/*---------------------------- Header ----------------------------*/
.navbar { display: block; }
.navbar .navbar-brand, .navbar .navbar-right { float: left; }
.navbar .navbar-brand { width: 18%; padding: 0; margin: 0; }
.navbar .navbar-right { width: 75%; position: relative; }
.navbar .navbar-right .social { position: absolute; top: 0; right: 0; }

.site-info .sitename { font-size: 28px; padding: 5px 0; color: #009933; text-transform: uppercase; font-family: 'Roboto Condensed', sans-serif; font-weight: 700; -webkit-text-stroke: 1px; -webkit-text-stroke-color: #006379; }
.site-info address, .site-info .contact { font-size: 16px; padding: 5px 0; }
.site-info .contact p { display: inline-block; vertical-align: middle; }
.site-info .contact p:last-child { margin-left: 30px; }
.site-info .fa { color: #009933; width: 25px; }

.navbar-right .social { margin: 15px 0 0 60px; }
.navbar-right .social li { margin-left: 10px; }
.navbar-right .social a { display: block; width: 28px; height: 28px; text-align: center; border-radius: 14px; background: #009933; color: #fff; font-size: 14px; padding-top: 5px; }
.navbar-right .social a .fa { font-size: 16px; }

.site-footer { background: #009933; color: #fff; font-size: 14px; }
.site-footer .footer { padding: 20px 0; overflow: hidden; }
.site-footer .footer .company-info, .site-footer .footer .sitemap, .site-footer .footer .newsletter { float: left; }
.site-footer .footer .company-info { width: 40%; padding-right: 5%; }
.site-footer .footer .sitemap, .site-footer .footer .newsletter { width: 30%; }
.site-footer .footer .contact-info { margin-top: 10px; }
.site-footer .footer .contact-info li { margin-bottom: 2px; padding: 2px 0; }
.site-footer .footer .contact-info li p { display: inline-block; border-left: 1px solid #4db871; padding-left: 10px; }
.site-footer .footer .contact-info li .fa { width: 30px; text-align: center; }
.site-footer .footer .sitemap li { margin-bottom: 4px; }
.site-footer .footer .sitemap li a { color: #fff; }
.site-footer .footer .newsletter fieldset { overflow: hidden; padding-top: 5px; }
.site-footer .footer .newsletter fieldset input[type="email"] { float: left; height: 40px; display: block; float: left; width: 70%; border: 0; padding: 10px 15px; outline: none; }
.site-footer .footer .newsletter fieldset input[type="submit"] { border: 0; background: #fff; padding: 0; height: 40px; text-align: center; float: right; width: 27%; font-size: 16px; color: #009933; text-transform: uppercase; }
.site-footer .footer .newsletter .social { margin-top: 20px; }
.site-footer .footer .newsletter .social li { margin-right: 15px; }
.site-footer .footer .newsletter .social li a { display: inline-block; color: #fff; font-size: 16px; width: 25px; height: 25px; border: 1px solid #fff; border-radius: 4px; text-align: center; }
.site-footer .footer .newsletter .social li a:hover { color: #009933; background: #fff; }
.site-footer h3 { font-size: 20px; margin-bottom: 5px; }

.copyright { display: block; text-align: center; padding: 8px 0; border-top: 1px solid #fff; font-size: 12px; font-weight: 300; letter-spacing: 0.05em; opacity: 0.8; }

.sidebar { padding: 15px; }

.widget-search { position: relative; overflow: hidden; margin-bottom: 15px; }
.widget-search form { width: 100%; padding-right: 48px; }

input[type="search"] { display: block; width: 100%; border: 1px solid #009933; padding: 10px; height: 48px; outline: none; font-size: 16px; }

.search-btn { position: absolute; top: 0; right: 0; padding: 0; background: #009933; color: #fff; font-size: 20px; text-align: center; width: 48px; height: 100%; border: 0; cursor: pointer; }

.widget-category li { padding-right: 20px; margin-bottom: 15px; }
.widget-category li:last-child { margin-bottom: 0; }
.widget-category li a { display: block; width: 100%; position: relative; padding: 15px 0 15px 20px; height: 70px; background: #3399ff; text-decoration: none !important; }
.widget-category li a p { font-size: 15px; color: #fff; text-transform: uppercase; }
.widget-category li a small { display: block; font-size: 12px; color: #333; margin-top: 2px; font-style: italic; }
.widget-category li a:before { content: ''; width: 6px; height: 100%; position: absolute; left: 0; top: 0; z-index: 9; display: none; background: rgba(255, 255, 255, 0.2); }
.widget-category li a:after { content: ''; border-left: 20px dashed #3399ff; border-top: 35px solid transparent; border-bottom: 35px solid transparent; position: absolute; left: 100%; top: 0; }
.widget-category li a:hover:before { display: block; }

.widget-default { border: 1px solid #3399ff; margin-bottom: 20px; }
.widget-default h3 { color: #fff; text-align: center; padding: 10px; font-size: 18px; text-transform: uppercase; background: #3399ff; }
.widget-default li { border-top: 1px solid #3399ff; padding: 6px 10px; }
.widget-default li a { font-size: 16px; display: inline-block; margin-left: 4px; color: inherit; }
.widget-default li a:hover { color: #3399ff; text-decoration: none; }

/*# sourceMappingURL=common.css.map */
