/* Stylesheet for each page */
/*---------------------------- Top Page ----------------------------*/
.main-service { margin-top: 15px; }
.main-service .thumb a { display: inline-block; width: 80px; height: 80px; color: #fff; font-size: 22px; border-radius: 40px; background: #009933; margin-bottom: 15px; }
.main-service .thumb a:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; }
.main-service .thumb a:hover { background: rgba(0, 153, 51, 0.9); }
.main-service .post-title { margin-bottom: 5px; text-transform: uppercase; font-size: 18px; font-weight: 500; }
.main-service .post-title a { color: #009933; text-decoration: underline; }
.main-service .post-title:hover a { text-decoration: none; }
.main-service .excerpt { font-size: 16px; }
.main-service .col-md-6 { margin-bottom: 20px; }

.other-service .col-md-4 { margin-bottom: 30px; }
.other-service a { display: block; position: relative; }
.other-service a figure img { width: 100%; }
.other-service a figcaption { display: block; position: absolute; width: 100%; color: #fff; bottom: 0; left: 0; z-index: 9; background: rgba(0, 0, 0, 0.5); font-size: 16px; text-transform: uppercase; text-align: center; padding: 6px; text-decoration: none; }
.other-service a:hover figcaption { background: #000; }

.map { height: 365px; width: 100%; }

.content-graph p + p { margin-top: 1.4em; }

.post-detail hr { width: 100px; margin: 1.4em auto; }

.about .main-services { margin-bottom: 20px; }
.about .main-services dt { font-weight: 600; font-size: 18px; margin-bottom: 4px; }
.about .main-services dd { padding-left: 20px; }
.about a { color: #009933; text-decoration: underline; font-style: italic; font-size: 90%; }
.about a:hover { text-decoration: none; }

/*# sourceMappingURL=style.css.map */
