@charset "utf-8";

/* Update css reset */
*,
*:before,
*:after {
  @include box-sizing(border-box);
}
strong {
  font-weight: 600;
}
img {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

body {
  background: #fff;
  font-size: $base-fontsize;
  line-height: 1.444444;
  font-family: $base-font-sans;
  font-weight: 400;
  -webkit-text-size-adjust: none;
  color: $main-color;
}

a {
  color: $main-color;
  text-decoration: none;
}

.trans {
  opacity: 1;
  @include transition(opacity 0.3s ease);
  &:hover {
    opacity: .75;
  }
}

.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}
.list-inline>li {
  display: inline-block;
}
.list-indent li {
  text-indent: -1em;
  padding-left: 1em;
}
.text-indent {
  text-indent: 1em;
}
.text-highlight {
  color: #dc0734 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}
.mt0 {
  margin-top: 0 !important;
}