@charset "utf-8";

/// Adds a browser prefix to the property
/// @param {*} $property Property
/// @param {*} $value Value

@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
      -ms-#{$property}: #{$value};
          #{$property}: #{$value};
}
@mixin css3-prefix-webkit($property, $value) {
  -webkit-#{$property}: #{$value};
          #{$property}: #{$value};
}
// Clearfix
@mixin cf {
  display: block;
  *zoom: 1;
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

// Box sizing
@mixin box-sizing($value) {
  @include css3-prefix-webkit('box-sizing', $value);
}

// Transform middle
@mixin vc {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// Transform center + middle
@mixin vhc {
  left: 50%;
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/// Background Size
/// @param {Size} $width [100%] - Width
/// @param {Size} $width [$width] - Height
/// @require {mixin} css3-prefix-webkit
@mixin background-size($width: 100%, $height: $width) {
  @if type-of($width) == 'number' and $height != null {
    @include css3-prefix-webkit('background-size', $width $height);
  } @else {
    @include css3-prefix-webkit('background-size', $width);
  }
}

/// Border Radius
/// @param {Size} $radius [5px] - Radius
/// @require {mixin} css3-prefix
@mixin border-radius($radius: 5px) {
  @include css3-prefix-webkit('border-radius', $radius);
}

/// Box Shadow
/// @param {Size} $x [2px] - X
@mixin box-shadow($params) {
  @include css3-prefix-webkit('box-shadow', $params);
}

/// Transition
/// @param {Size} $x [2px] - X
@mixin transition($params) {
  @include css3-prefix('transition', $params);
}

/// Flex
/// @param {Integer} $value [1] - Value
/// @require {mixin} css3-prefix
@mixin flexbox {
  -js-display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}


/// Transform
/// @param {List} $params - Params
/// @require {mixin} css3-prefix

@mixin transform($params) {
  @include css3-prefix('transform', $params);
}