@charset "utf-8";

.site-footer {
  background: $primary-color;
  color: #fff;
  font-size: 14px;
  .footer {
    padding: 20px 0;
    overflow: hidden;
    .company-info,.sitemap,.newsletter {
      float: left;
    }
    .company-info {
      width: 40%;
      padding-right: 5%;
    }
    .sitemap,.newsletter {
      width: 30%;
    }
    .contact-info {
      margin-top: 10px;
      li {
        margin-bottom: 2px;
        padding: 2px 0;
        p {
          display: inline-block;
          border-left: 1px solid #4db871;
          padding-left: 10px;
        }
        .fa {
          width: 30px;
          text-align: center;
        }
      }
    }
    .sitemap li {
      margin-bottom: 4px;
      a {
        color: #fff;
      }
    }
    .newsletter {
      fieldset {
        overflow: hidden;
        padding-top: 5px;
        input[type="email"] {
          float: left;
          height: 40px;
          display: block;
          float: left;
          width: 70%;
          border: 0;
          padding: 10px 15px;
          outline: none;
        }
        input[type="submit"] {
          border: 0;
          background: #fff;
          padding: 0;
          height: 40px;
          text-align: center;
          float: right;
          width: 27%;
          font-size: 16px;
          color: $primary-color;
          text-transform: uppercase;
        }
      }
      .social {
        margin-top: 20px;
        li {
          margin-right: 15px;
          a {
            display: inline-block;
            color: #fff;
            font-size: 16px;
            width: 25px;
            height: 25px;
            border: 1px solid #fff;
            border-radius: 4px;
            text-align: center;
            &:hover {
              color: $primary-color;
              background: #fff;
            }
          }
        }
      }
    }
  }
  h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
}
.copyright {
  display: block;
  text-align: center;
  padding: 8px 0;
  border-top: 1px solid #fff;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.05em;
  opacity: 0.8;
}