@charset "utf-8";

/*----------------------------
 Header
 ----------------------------*/
.navbar {
  display: block;
  .navbar-brand,.navbar-right {
    float: left;
  }
  .navbar-brand {
    width: 18%;
    padding: 0;
    margin: 0;
  }
  .navbar-right {
    width: 75%;
    position: relative;
  }
  .navbar-right .social {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.site-info {
  .sitename {
    font-size: 28px;
    padding: 5px 0;
    color: $primary-color;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #006379;
  }
  address,.contact {
    font-size: 16px;
    padding: 5px 0;
  }
  .contact p {
    display: inline-block;
    vertical-align: middle;
    &:last-child {
      margin-left: 30px;
    }
  }
  .fa {
    color: $primary-color;
    width: 25px;
  }
}
.navbar-right {
  .social {
    margin: 15px 0 0 60px;
    li {
      margin-left: 10px;
    }
    a {
      display: block;
      width: 28px;
      height: 28px;
      text-align: center;
      border-radius: 14px;
      background: #009933;
      color: #fff;
      font-size: 14px;
      padding-top: 5px;
      .fa {
        font-size: 16px;
      }
    }
  }
}