@charset "utf-8";

#comment-form {
  padding: 15px;
  background: #f7f7f7;
}
#commentform {
  margin-top: 15px;
}
#commentSubmit {
  display: inline-block;
  background: $primary-color;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px 15px;
  cursor: pointer;
  border: 0;
}

.panel {
  margin-bottom: 30px;
  .panel-body {
    border: 1px solid #ccc;
    padding: 10px 15px;
    line-height: 1.6;
  }
}

.related-post {
  border: 1px solid #dbdbdb;
  margin-bottom: 30px;
  h3 {
    font-size: 16px;
    font-weight: 500;
    background: #dbdbdb;
    padding: 8px 10px;
  }
  .list-others {
    padding: 15px 10px;
    a {
      display: inline-block;
      text-decoration: underline;
      color: inherit;
      &:hover {
        text-decoration: none;
      }
    }
    li {
      color: $primary-color;
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.table tbody th {
  background: #efefef;
  text-align: center;
}
.table th, .table td {
  border: 1px solid #333;
  padding: 5px 10px;
}
.table thead th {
  border-bottom: 1px solid #333;
}
.table-caption {
  text-align: center;
  padding: 6px 10px;
  background-color: #39f;
  color: #fff;
  line-height: 1.4;
}