@charset "utf-8";

/*----------------------------
 Navigation
 ----------------------------*/
.navbar-collapse {
  background: $primary-color;
  .navbar-nav {
    justify-content: center;
  }
}
.navbar-toggler {
  display: none;
}
.navbar-nav li {
  line-height: 1;
  padding: 0 16px;
  position: relative;
  & + li:before {
    // content: '';
    position: absolute;
    height: 1em;
    width: 1px;
    background: #fff;
    left: 0;
    top: 16px;
  }
  a {
    display: block;
    color: #fff;
    font-size: 16px;
    padding: 15px 0;
    font-weight: 500;
    // font-family: 'Roboto Condensed', sans-serif;
    line-height: inherit;
    text-transform: uppercase;
    position: relative;
    text-decoration: none !important;
  }
  &.active-item,
  &:hover {
    background: rgba(255,255,255,.2);
  }
  &:hover {
    .sub-menu {
      opacity: 1;
      top: 100%;
      left: 0;
    }
  }
  .sub-menu {
    position: absolute;
    top: 110%;
    left: -9999px;
    margin-right: 15px;
    opacity: 0;
    min-width: 200px;
    z-index: 999;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    transition: top 0.2s ease;
    li {
      padding: 0;
      a {
        color: #333;
        padding: 10px;
        border-bottom: 1px solid rgba(0,0,0,.3);
        font-size: 14px;
        font-weight: 400;
      }
      &:hover a {
        color: $primary-color;
      }
    }
  }
}