@charset "utf-8";

.sidebar {
  padding: 15px;
}
.widget-search {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  form {
    width: 100%;
    padding-right: 48px;
  }
}
input[type="search"] {
  display: block;
  width: 100%;
  border: 1px solid $primary-color;
  padding: 10px;
  height: 48px;
  outline: none;
  font-size: 16px;
}
.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  background: $primary-color;
  color: #fff;
  font-size: 20px;
  text-align: center;
  width: 48px;
  height: 100%;
  border: 0;
  cursor: pointer;
}

.widget-category {
  li {
    padding-right: 20px;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      display: block;
      width: 100%;
      position: relative;
      padding: 15px 0 15px 20px;
      height: 70px;
      background: $second-color;
      text-decoration: none !important;
      p {
        font-size: 15px;
        color: #fff;
        text-transform: uppercase;
      }
      small {
        display: block;
        font-size: 12px;
        color: $main-color;
        margin-top: 2px;
        font-style: italic;
      }
      &:before {
        content: '';
        width: 6px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9;
        display: none;
        background: rgba(#fff,0.2);
      }
      &:after {
        content: '';
        border-left: 20px dashed $second-color;
        border-top: 35px solid transparent;
        border-bottom: 35px solid transparent;
        position: absolute;
        left: 100%;
        top: 0;
      }
      &:hover:before {
        display: block;
      }
    }
  }
}

.widget-default {
  border: 1px solid $second-color;
  margin-bottom: 20px;
  h3 {
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
    background: $second-color;
  }
  li {
    border-top: 1px solid $second-color;
    padding: 6px 10px;
    a {
      font-size: 16px;
      display: inline-block;
      margin-left: 4px;
      color: inherit;
      &:hover {
        color: $second-color;
        text-decoration: none;
      }
    }
  }
}